*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

.colored_background{
    background-color:#032541;
}

.color_nav{
    background-color: #032541;
}

.color_nav a{
    color: rgba(255, 255, 255, 0.562);

}
.color_nav a:hover{
    color: #016A70;
}

#cards_container{
    background-color: #001524;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

 img.image{
    width: 50px;
}

.card-img-top{
    cursor: pointer;
}

footer{
    margin-top: 10px;
}
footer.color{
    background-color: black;
    height: 200px;
    margin-bottom: 0;
}

footer img{
    width: 100px;
  }

  footer p{
    color: #f2f2f276;
  }

.list-group > li{
    font-size: 13px;
}


.movieList {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height:auto;
    margin-bottom: 10px;
    /* padding-left: 24px;
    padding-bottom: 16px; */
  }

  .movieList .movie-container {
    display: inline-block;
    margin-right: 8px;
  }


